*,
::before,
::after 
{
    box-sizing: border-box;
    font-size: 62.5%;
}
html {
    font-family: "Source Sans 3", sans-serif;
    letter-spacing: -0.009rem;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, nav, p, img, a, ul, li, section, main{
   margin: 0;
   padding: 0; 
}

h1{
    font-size: 4.2rem;
    font-weight: 700;
}
h2{
    font-size: 1.6rem;
    font-weight: 400;
}
h3, li a{
    font-size: 1.4rem;
}
h4{
     font-size: 1.2rem;
}
/*---------------------------header----------------------------------------*/
body,header{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 35rem;
    height: 5.9rem;
}
a {
    display: flex;
    align-items: center;
}
.logo-container {
    margin: 0 0 0 2rem; /* margin for the rest of articles down*/
    padding: 0;
}
.logo-container h3{
    margin: 0 0 0 0.4rem;
}
.logo{
    margin: 0;
    width: 40px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding-right: 2rem;
}
li a {
    text-transform:uppercase;
    color:#0E0E0E;
    text-decoration: none;
    font-weight: 600;
}
/*------------------------------main--------*/

/*-----------title blog---------------*/
.blog-title {
    position: relative;
}
.blog-title-content {
    position: absolute;
    z-index: 1;
    color: white;
    max-width: 90%;
    left: 2rem; 
    bottom: 2rem;
}
.blog-date, .blog-text h2 {
    font-weight: 300;
}
.blog-text {
    margin-top: 1rem; 
    line-height: 4rem;
}
.blog-text h2{
    margin-top: 1rem;
    line-height: 2rem;
    max-width: 73rem;
}
.blog-title-img {
    width: 100%;
    filter: brightness(50%);
    display: block;
    object-fit: cover;
}
/*----------------old blogs grid-----------------------------*/
.blog-section-container {
    
    display: grid;
    grid-template-columns:  1em 1fr 1em;
    grid-template-areas: 
    "... ... ..."
    "... one ..."
    "... two ..." 
    "... thr ..."
    "... ... ...";
    gap: 2rem 0;
}
@media (min-width: 600px) {

    .blog-section-container {
        display: grid;
        grid-template-columns: 1em 1fr 1fr 1fr 1em;
        grid-template-areas: 
        "... ... ... ... ..."
        "... one two thr ..."
        "... fou fiv six ..."
        "... ... ... ... ..."
        ;
        gap: 2rem 1rem ;
    }
}
.blog-box {
    max-width: 37.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.blog-img {
    width: 100%;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: thr;
}
.four, .five, .six {
    display: none;
}
@media(min-width: 600px) {
.four, .five, .six {
    display: flex;
}
.four {
   grid-area: fou;
}
.five { 
    grid-area: fiv;
}
.six { 
    grid-area: six;
}
}
