*,
::before,
::after 
{
    box-sizing: border-box;
    font-size: 62.5%;
}
html {
    font-family: "Source Sans 3", sans-serif;
    letter-spacing: -0.009rem;
}

h1{
    font-size: 4.2rem;
    font-weight: 700;
}
h2{
    font-size: 1.6rem;
    font-weight: 400;
}
h3{

}
h4{

}